body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    color: #FB0201
}

#form-letter {
    background-color: white;
    width: 35%;
    text-align: center;
    padding: 0 48px 48px 48px;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.12), 0px 2px 3px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
}

input {
    margin-bottom: 12px;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-family: 'Press Start 2P';
    font-weight: 300;
    font-size: 12px;
    border: 2px solid #f2f2f2;
}

input::placeholder {
    font-size: 10px;
    opacity: 0.5;
}

input:focus {
    outline: none;
    border: 2px solid #FB0201;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
}

#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    background: url(./assets/bcg_pattern.svg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-bottom: 16px;
}

.title__text {
    font-size: 32px;
}

.subtitle {
    margin-bottom: 36px;
}

.subtitle__text {
    font-size: 14px;
    color: black;
}

.logo {
    margin-bottom: 48px;
    top: 48px;
}

.logo img {
    width: 64px
}

.logo_title {
    color: black
}

.container__logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

.love-letter {
    font-size: 12px;
}

.submit {
    cursor: pointer;
    margin-top: 32px;
}

@keyframes openToast {
    from {
        bottom: -20%;
    }

    to {
        bottom: 7%;
    }
}

@keyframes closeToast {
    from {
        bottom: 7%;
    }

    to {
        bottom: -20%;
    }
}

.toast {
    position: fixed;
    left: 50%;
    bottom: -200%;
    transform: translateX(-50%);
    opacity: 1;
    z-index: 35;
}

.toast-container {
    background-color: #333;
    max-width: 500px;
    min-height: 56px;
    position: relative;
    padding: 10px 68px;
    display: flex;
    align-items: center;
}

.toast-container::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 16px;
    width: 28px;
    height: 29px;
}

.toast-open-animation {
    animation: 0.120s openToast ease-out forwards;
}

.toast-close-animation {
    animation: 0.240s closeToast ease-out forwards;
}

.message_ok {
    color: green
}

.message_not_ok {
    color: #FB0201
}

.logo_form img {
    width: 25%;
}

@media screen and (max-width: 780px) {
    #form-letter {
        width: 75%;
        padding: 0 24px 24px 24px;
    }

    .title__text {
        font-size: 16px;
    }

    .subtitle__text {
        font-size: 12px;
    }

    .logo img {
        width: 48px
    }

    input {
        font-size: 10px;
    }

    input::placeholder {
        font-size: 10px;
    }

    .logo_form img {
        width: 50%;
    }

    .toast {
        font-size: 8px;
        padding: 10px;
        width: 100%;
        right: 0;
        text-align: center;
    }

    .toast-container {
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding: 0px 32px
    }

    @keyframes openToast {
        from {
            bottom: -200%;
        }

        to {
            bottom: 0%;
        }
    }

    @keyframes closeToast {
        from {
            bottom: 0%;
        }

        to {
            bottom: -200%;
        }
    }

    .submit {
        margin-top: 12px;
    }
}